<h1>Update Your Profile</h1>
<%= form_for @user, html: { multipart:true } do |f| %>
  <div class="form-group">
    <label>Change your Name: </label>
    <%= f.text_field :first_name, class: "form-control", placeholder: "First" %>
    <%= f.text_field :last_name, class: "form-control", placeholder: "Last" %>
  </div>
  <div class="form-group">
    <label>Change Your City: </label>
    <%= f.text_field :current_city, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Choose New Profile Picture: </label>
    <%= f.file_field :photo %>
  </div>
  <%= f.submit "Save Changes" %>
<% end %>
