  <div class="row">
    <div class="col m6 offset-m3 form">
      <%= form_for @user, html: { multipart:true } do |f| %>
        <div class="col m6">
          <label>Change your Name: </label>
          <%= f.text_field :first_name, class: "form-control", placeholder: "First" %>
        </div>
        <div class="col m6">
          <br>
          <%= f.text_field :last_name, class: "form-control", placeholder: "Last" %>
        </div>
        <div class="col m12">
          <label>Change Your City: </label>
          <%= f.text_field :current_city, class: "form-control" %>
          <label>Choose New Profile Picture: </label>
          <%= f.file_field :photo %>
        </div>
        <div class="col m6 offset-m3">
          <br>
          <%= f.submit "Save Changes", class: "waves-effect waves-light btn-large form-button" %>
          <br><br>
        </div>
      <% end %>
    </div>
  </div>
