<h2>User Profile</h2>
<h3>Welcome, <%= @user.first_name %> <%= @user.last_name %>!</h3>
<p>Current City: <%= @user.current_city %> </p>
<p>Join Date: <%= @user.created_at %> </p>

<h3>My Posts:</h3>
<% @user.posts.each do |post| %>
  <%= link_to "#{post.title}", post_path(post) %><br>
<% end %>
