<div class="row">
  <div class="col m6 offset-m3 form">
    <h2>Create Post</h2>
    <%= form_for [@city, @post] do |f| %>
      <div class="form-group">
        <%= f.text_field :title, class: "form-control", placeholder: "The title for your post" %>
      </div>
      <div class="input-field col s12">
        <%= f.text_field :content, class: "form-control, materialize-textarea", id: "textarea1" %>
        <label for="textarea1">Your experience in the city</label>
      </div>
      <div class="col m6 offset-m3">
        <br>
        <div class="form-group">
          <%= f.submit "Save Post", class: "waves-effect waves-light btn-large form-button" %>
          <br><br>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.text_field :content, class: "form-control", placeholder: "Your experience in the city" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save Post", class: "btn btn-block btn-success" %>
  </div>
</div>
