<div class="row">
  <div class="col m12 postcard-border">
    <div class="row">
      <div class="col m6 text">
        <div class="content">
          <h3 class="post-title"><%= @post.title %></h3>
          <hr>
          <%= @post.content %>
        </div>
        <div class="vr">
        </div>
      </div>
      <div class="col m6 address">
        <div class="stamp">
          <span class="p-font">P</span>
        </div>
        <div class="post">
          <p>
            <h5>by <%= link_to "#{@post.user.first_name} #{@post.user.last_name}", user_path(@post.user) %></h5>
            <hr>
            <h5>in <%= link_to "#{@post.city.city_name}", city_path(@post.city.id) %></h5>
            <hr>
          </p>
          <% if @user == current_user %>
            <%= link_to "edit post", edit_city_post_path(@post.city, @post) %>
            <br>
            <%= link_to "delete post", city_post_path(@post.city, @post), action: "destroy" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
