<h1><%= @post.title %></h1>
<h3>by <%= @post.user.first_name%> <%= @post.user.last_name%></h3>
<p><%= @post.content %></p>

<% if @post.user == current_user %>
  <%= link_to "Edit Post", edit_city_post_path(@city) %>
<% end %>
