<div class="row">
  <div class="col m12 postcard-border">
    <div class="row">
      <div class="col m6 text">
        <div class="content col m12">
          <h3 class="post-title"><%= @post.title %></h3>
          <hr>
          <%= @post.content %>
        </div>
        <div class="vr">
        </div>
      </div>
      <div class="col m6 address">
        <% if @user == current_user %>
          <div class="stamp">
            <%= link_to city_post_path(@post.city.id, @post.id), action: "destroy", class: "stamp-link" do%>
              <p><span class="make-small"> Delete</span> <br> Post </p>
            <% end %>
          </div>
          <div class="stamp">
            <%= link_to edit_city_post_path(@post.city.id, @post.id), class: "stamp-link" do%>
            <p> Edit <br> Post </p>
            <% end %>
          </div>
        <% else %>
          <div class="stamp">
          </div>
          <div class="stamp">
          </div>
        <% end %>
        <div class="post">
          <p>
            <h5>by <%= link_to "#{@post.user.first_name} #{@post.user.last_name}", user_path(@post.user) %></h5>
            <hr>
            <h5>in <%= link_to "#{@post.city.city_name}", city_path(@post.city.id) %></h5>
            <hr>
          </p>
          <% if @user == current_user %>
            <%= link_to "edit post", edit_city_post_path(@post.city, @post) %>
            <br>
            <%= link_to "delete post", city_post_path(@post.city, @post), action: "destroy" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
