<h1><%= @post.title %></h1>
<h3>by <%= @post.user.first_name%> <%= @post.user.last_name%></h3>
<p><%= @post.content %></p>

<% if @post.user == current_user %>
  <%= link_to "Edit Post", edit_city_post_path(@post) %>
  <%= link_to "Delete Post", city_path(@city), method: :delete, data: { confirm: 'Are you
    sure you want to delete this post about your adventure?' } %>
<% end %>
