<span class="position"><h1>Welcome to <%= @city.city_name %></h1></span>
<div class="row">
  <div class="col m12 postcard-border">
    <div class="row">
      <div class="col m6 text" style="background-image: url(<%= @city.photo %>);">
        <div class="vr">

        </div>
      </div>
      <div class="col m6 address">
        <div class="stamp">
          <% if current_user %>
            <%= link_to new_city_post_path(@city.id), class: "stamp-link" do%>
              <p> Add <br> Post </p>
            <% end %>
          <% end %>
        </div>
        <div class="post">
          <% @city.posts.order(created_at: :desc).each do |post| %>
            <p>
              <strong><%= link_to "#{post.title}", city_post_path(@city, post)%></strong>
              by <%= link_to "#{post.user.first_name} #{post.user.last_name}", user_path(post.user) %>
            </p>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="newPostLink">
  <% if current_user then %>
    <%= link_to "Add New Post for #{@city.city_name}", new_city_post_path(@city) %>
  <% end %>
</div>
