<h3>Welcome to <%= @city.city_name %>!</h3>
<div id="cityHeroImage"><%= image_tag @city.photo %> </div>

<h2>Adventures!</h2>
<% @city.posts.order(created_at: :desc).each do |post| %>
  <%= link_to "#{post.title}", city_post_path(@city, post)%>
  <%= link_to "#{post.user.first_name} #{post.user.last_name}", user_path(post.user) %> <br>
<% end %>


<%= link_to "Add New Post for #{@city.city_name}", new_city_post_path(@city) %>
